html
  body    
    form(method="POST" action="/new")
      input(type="text" name="Name" placeholder="Name")
      input(type="text" name="Notes" placeholder="Notes")
      input(type="text" name="Status" placeholder="Status")
      input(type="text" name="Date" placeholder="Date")
      input(type="submit" value="Create")